<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学生信息更新</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">

</head>
<body>
<%if(data){%>
<h3>用户名:<%-data.name%></h3>
<span>年　级:
    <% switch (data.class-0){
    case 1:%>
    一年级
    <%break;%>
    <% case 2:%>
    二年级
    <% break;%>
    <% case 3:%>
    三年级
    <% break;%>
    <% case 4:%>
    四年级
    <% break;%>
    <% case 5:%>
    五年级
    <% break;%>
    <% case 6:%>
    六年级
    <% break;%>
    <%}%>
</span>

<div>数学:<input type=text class="input-lg" placeholder="请输入数学成绩"></div>

<div>汉语:<input type=text class="input-lg" placeholder="请输入汉语成绩"></div>
<button class="btn btn-success" style="margin-left: 60px">更新</button>
<button class="btn btn-default" onclick="location.href='/three?title=xuesheng'">返回</button>
<%}else {%>
请选择你要更新的老师名字
<%}%>
</body>
<script src=javascripts/jquery-1.11.0.js></script>
<script>

    $(".btn").click(function () {
        var str1=$("input").eq(0).val();
        var str2=$("input").eq(1).val();
        if(str1.length>0&&str2.length>0){
            $.ajax({
                type:"post",
                url:"/users/xupdate",
                data:{id:"<%-data._id%>",math:str1,china:str2},
                success:function (data) {
                    if(data==1){

                        alert("更新成功")
                        location.href="/three?title=xuesheng"
                    }
                }
            })

        }
    })
</script>
</html>