<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">

</head>
<body>

<div>姓名:<input type=text class="input-lg" placeholder="请输入学生名字"></div>

<div class="dropdown" style="width: 300px">
    年级:
    <select class="form-control">
        <option value="1" selected="selected">一年级</option>
        <option value="2">二年级</option>
        <option value="3">三年级</option>
        <option value="4">四年级</option>
        <option value="5">五年级</option>
        <option value="6">六年级</option>
    </select>
</div>

<div>数学:<input type=text class="input-lg" placeholder="请输入数学成绩"></div>

<div>汉语:<input type=text class="input-lg" placeholder="请输入汉语成绩"></div>

<button class="btn btn-success btn1"    style="margin-left: 60px">提交</button>
<button class="btn btn-default" onclick="location.href='/three?title=xuesheng'">返回</button>


<script src=javascripts/jquery-1.11.0.js></script>
<script>
    $(".btn1").click(function () {
        var str1=$("input").eq(0).val();
        var str2=$("option:selected").val();
        var str3=$("input").eq(1).val();
        var str4=$("input").eq(2).val();
        console.log(str2)
        if(str1.length>0&&str2.length>0){
            $.ajax({
                type:"post",
                url:"/users/xzeng",
                data:{name:str1,class:str2,math:str3,china:str4},
                success:function (data) {
                    if (data=="1"){
                        alert("添加成功");
                        location.href="/three?title=xuesheng"
                    }
                }
            })

        }
    })







</script>

</body>
</html>